@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif; /* You can use any modern font */
  background-color: #F9FAFB; /* Light background */
}

h1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for text */
}
